<li>
	{{title}}

	<button class="save-article" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if saved}}Save Article{{else}}Read{{/if}}
	</button>

	<button class="remove" data-id="{{this.id}}">DELETE!</button>
</li>
