<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Radio Lab Scraper!</h1>
    <p class="lead">Click to scrape!</p>
    <a class="btn btn-primary btn-lg" href="/articles/scrape" role="button">Scrape!</a>
  </div>
</div>
<div class="row ">
  <div class="col-sm-6 mx-auto">
    <div id="articles">
  {{#each articles}}
<div class="card text-right" >
  <div id = "title" class="card-header text-left">
    {{title}}
  </div>
  <div class="card-body" >
    <h2 class="card-title"><h2>
     <p class="card-text">{{teaser}}</p>
    <a href="https://www.wnycstudios.org{{link}}" class="btn btn-primary">Go to Podcast!</a>
    <a class="btn btn-primary" id = "save" class ="card text-right">Save</a>
     </div>
  <div class="card-footer text-muted">
        {{date}}
  </div>
</div>
    {{/each}}
  {{#if saved }}
 {{#each articles}}
<div class="card text-right" >
  <div class="card-header text-left">
    {{title}}
  </div>
  <div class="card-body" >
    <h2 class="card-title"><h2>
     <p class="card-text">{{teaser}}</p>
    <a href="https://www.wnycstudios.org{{link}}" class="btn btn-primary">Go to Podcast!</a>
    <a class="btn btn-primary" id = "delete" class = "card text-right">Delete</a>
    <a class="btn btn-primary" class = "card text-right">Delete</a>
     </div>
  <div class="card-footer text-muted">
        {{date}}
  </div>
</div>
    {{/each}}
    {{/if}}
    </div>
      <div id="notes"></div>
  </div>
  </div>